<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-2">
        <h6>¿Tienes dudas?</h6>
        <a target="_blank" href="https://www.facebook.com/spilup/"><i class="fab fa-facebook" title="Visitar Página"></i></a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=+52 9994946962&text=Hola, quiero hacer mi primera compra!"><i class="fab fa-whatsapp" title="Enviar mensaje"></i></a>
        <a href="file:///C:/Users/Spilup%20Invitado/Desktop/envio%20y%20otros/index.html"><i class="fas fa-truck" title="Sobre el envío"></i></a>
        </div>
      </div>
    </div>
</footer>
