<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-4">
        <h6>¿Tienes dudas?</h6>
        <a target="_blank" href="https://www.facebook.com/spilup/"><i class="fab fa-facebook"></i></a> <br><br>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=9994946962&text=Hola, quiero hacer mi primera compra!"><i class="fab fa-whatsapp" title="Enviar mensaje"></i> <br>9994946962</a> <br><br>
        <a href="file:///C:/Users/Spilup%20Invitado/Desktop/envio%20y%20otros/index.html"><i class="fas fa-truck"></i> <br>  Sobre el envio</a> <br>
        </div>
      </div>
    </div>
</footer>