<!-- inicio del header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">Spilup</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorías
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a  class="dropdown-item" href="/home/papers">Papeles</a>
                <a  class="dropdown-item" href="/home/headset">Audífonos</a>
                <!-- <a  class="dropdown-item" href="file:///C:/Users/Spilup%20Invitado/Desktop/videojuegos/index.html">Videojuegos</a> -->
                <!-- <a  class="dropdown-item" href="file:///C:/Users/Spilup%20Invitado/Desktop/relojes/index.html">Relojes</a> -->
                <a  class="dropdown-item" href="/home/foamy">Fomis</a>
                <a  class="dropdown-item" href="/home/folders">Carpetas</a>
                <a  class="dropdown-item" href="/home/pencils">Lapices y Plumas</a>
                <a  class="dropdown-item" href="/home/glues">Resistol</a>
                <a  class="dropdown-item" href="/home/notebooks">Libretas</a>
                <a  class="dropdown-item" href="/home/toys">Juguetes</a>
                <!-- <a  class="dropdown-item" href="file:///C:/Users/Spilup%20Invitado/Desktop/bolsos/index.html">Bolsos</a> -->
                <a  class="dropdown-item" href="/home/others">Otros</a>
                <!-- <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Action</a> -->
            </li>
                <% if(!user) { %>
                  <li class="nav-item active perfil">
                      <a class="nav-link" href="/auth/signup">Crea tu cuenta<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active perfil">
                      <a class="nav-link" href="/auth/login">Ingresa<span class="sr-only">(current)</span></a>
                  </li>
                <%} else { %>
                  <li class="nav-item active perfil">
                  <a class="nav-link" data-toggle="modal" data-target="#user" href="/auth/login"><i class="fas fa-user-circle mr-2"></i><%= user.username %><span class="sr-only">(current)</span></a>
                    <!-- <a class="nav-link" href="/auth/logout">sapplr<span class="sr-only">(current)</span></a> -->
                  </li>
                <%}%>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </nav>
</header>
<!-- cierre del header -->

<!-- modal salir -->

<div class="modal fade" id="user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Mi cuenta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-info">
        <a class="nav" href="/auth/logout">Cerrar sesión</a>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- cierre de salir -->



<script src="https://kit.fontawesome.com/f61c39cbe9.js" crossorigin="anonymous"></script>
