/* css de index */

*{
  padding: 0px;
  margin: 0px;
}

body{
  background: #E7E7E7;
  font-family: letra;
}

@font-face {
  font-family: letra;
  src: url( letra.OT);
}




/* header */

header {
  background: #654D99;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0px;

  /* position: absolute; */

}




/*cierre header */







/* main */
.principal .card{
border-radius: 100px;
transition: all 1.5s;
box-shadow: 18px 12px 1em #C6C5C7;

}

.principal img{
  border-radius: 100px;

}

.principal  .btn-primary{
 /* font-size: 15px; */
 /* margin: 50px; */

}

.principal .card:hover{
  background: #C2A0E5;
}




/* cierre main */






footer{
  background: #654D99;
  height: 10%;
}




h6{
  color: white;
  top: 20px;
}



footer a{
  color: white;
  text-decoration: none;
 /* display: inline; */
 margin: 5px;
}




/* diseño responsivo  de carusel y cartas*/


@media screen and (max-width: 351px) {
  .yy  {
  top: 55px;

  }

  .h3{
    font-size: 25px;
    top: 40px;
    position: relative;
  }

  .carta{
    margin-top: 20px;
    left: 15px;

  }


}


/* diseñp */
