<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include ('partials/head') %>

    <title>Resistoles - Spilup</title>
    <link rel="stylesheet" href="estilos.css">
  </head>
  <body>
    <!-- header -->
    <%- include ('partials/header') %>
    <!-- header -->

    <!-- resistol -->
    <div class="container">
      <div class="row">
        <div class="col text-center m-4">
          <h4>Resistol</h4>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Resistol/pega.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Resistol Bully 110g</h5>
               <p class="card-text">Resistol blanco resistente, ideal para manualidades. <br>
              <br> $14
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="4HE3ALNKTD722">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Resistol/pega1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Resistol Bully 55g</h5>
               <p class="card-text">Resistol pequeño blanco, ideal para manualidades. <br>
                <br>$13
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="EXV8PQ427GP8C">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Resistol/pega2.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Resistol Bully Barra 11g</h5>
               <p class="card-text">Resistol de barra escolar, ideal para trabajar. <br>
                <br>$10
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="UK6FYC5JPWPQG">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <!-- <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="pega3.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Resistol Bully 440g</h5>
               <p class="card-text">Resistol grande marca bully. <br>
                 <b>Envío gratis</b>
                <br>$40
               </p>
               <a href="#" class="btn btn-primary">agregar</a>
             </div>
           </div>
        </div> -->
        <!-- <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="pega4.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Resistol Pritt 11g</h5>
               <p class="card-text">Resistol de barra marca pritt. <br>
                 <b>Envío gratis</b>
                 <br>$10
               </p>
               <a href="#" class="btn btn-primary">Agregar</a>
             </div>
           </div>
        </div> -->
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Resistol/pega5.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Resistol 850</h5>
               <p class="card-text">Resistol mediano marca 850. <br>
                <br>$13 <br> <br> <br>
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="AKRRXWAMWRYKL">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Resistol/total.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Total school</h5>
               <p class="card-text">Resistol ideal para pegar papel, carton, etc. <br>
                <br>$14
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="TCUJE9TE5MPJ4">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
               </p>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Resistol/uhu.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Pegamento UHU</h5>
               <p class="card-text">Pegamento fuerte para pegar objetos con facilidad. <br>
                <br>$20
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="LL82PZUV45LMS">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
               </p>
             </div>
           </div>
        </div>
        <div class="col mt-4 mb-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Resistol/pega6.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Silicon Barrilito 30ml</h5>
               <p class="card-text">Silicon liquido, especial para trabajos. <br>
                <br>$14
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="BEYYPVGJRYJLN">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
             </div>
           </div>
        </div>
      </div>
    </div>
    <!-- resistol -->
    <!-- footer -->
    <%- include ('partials/footer') %>
    <!-- footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
