<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include ('partials/head') %>

    <title>Audifonos - Spilup</title>
    <link rel="stylesheet" href="estilos.css">
    <link rel="icon" href="img/spilup.png">
  </head>
  <body>
    <!-- header -->
    <%- include ('partials/header') %>
    <!-- header -->
    <!-- audifonos -->
    <div class="container">
        <div class="row">
        <div class="col text-center m-4">
            <h4>Audífonos</h4>
        </div>
        </div>
        <div class="row">
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="https://spilup.s3-us-west-1.amazonaws.com/audifonos/a6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Steren Combo</h5>
                <p class="card-text">Incluye mouse pad, 1 mouse, y 1 Audífono. <br>
                    <b>Envío gratis</b>
                    <br>$99</p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="NLBUBJJME4FEE">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="https://spilup.s3-us-west-1.amazonaws.com/audifonos/a3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Audífonos Steren</h5>
                <p class="card-text">Audífonos estereo con sello acustico. <br>
                    <b>Envío gratis</b>
                <br>$49</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="EVDAZW4NWJG8C">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="https://spilup.s3-us-west-1.amazonaws.com/audifonos/au.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Eagle warrior</h5>
                <p class="card-text">Audífonos gamer con luz led de cable<br>
                    <b>Envío gratis</b>
                <br>$679</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="EJDBPSDB4UKZY">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="https://spilup.s3-us-west-1.amazonaws.com/audifonos/au1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Audífonos extra bass</h5>
                <p class="card-text">Audífonos manos libres tipo dj comodos<br>
                    <b>Envío gratis</b>
                <br>$298</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="TQSSHUHVLRA9Y">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="https://spilup.s3-us-west-1.amazonaws.com/audifonos/au2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Audífonos motorola</h5>
                <p class="card-text">Audífonos inalámbricos  color blanco<br>
                    <b>Envío gratis</b>
                <br>$999</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2FFBQJ27M58U8">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="https://spilup.s3-us-west-1.amazonaws.com/audifonos/a1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Audífonos</h5>
                <p class="card-text">Audífonos pro am sencillo. <br>
                    <b>Envío gratis</b>
                    <br>  <br>$39</p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="E2FXSK5JW3MX4">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="https://spilup.s3-us-west-1.amazonaws.com/audifonos/a.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Audífonos Steren</h5>
                <p class="card-text">Audífonos con sello acustico. <br>
                    <b>Envío gratis</b>
                <br>  <br>$79</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="89YFBB3289Z3N">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="https://spilup.s3-us-west-1.amazonaws.com/audifonos/a5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Easyline</h5>
                <p class="card-text">Espectacular mouse, comodo y practico. <br>
                    <b>Envío gratis</b>
                <br>$99</p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2QLZPRQXUFW2L">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="https://spilup.s3-us-west-1.amazonaws.com/audifonos/a4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Tech 2 Go</h5>
                <p class="card-text">Audífonos increibles para una calidad musical. <br>
                    <b>Envío gratis</b>
                <br>$89</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="DTSUFWZQV7K5G">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col mt-4 text-center">
            <div class="card" style="width: 18rem;">
                <img src="https://spilup.s3-us-west-1.amazonaws.com/audifonos/a2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Audífonos TrueBasix</h5>
                <p class="card-text">Audífonos comodos, ligero, y practico. <br>
                    <b>Envío gratis</b>
                <br>$27</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="RV77YY4Y35SK8">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- audifonos -->
    <!-- footer -->
    <%- include ('partials/footer') %>
    <!-- footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>