<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include ('partials/head') %>

    <title>Otros - Spilup</title>
    <link rel="stylesheet" href="estilos.css">
  </head>
  <body>
    <!-- header -->
    <%- include ('partials/header') %>
    <!-- header -->


    <!-- otros -->
    <div class="container">
      <div class="row">
        <div class="col text-center m-4">
          <h4>Otros</h4>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cinta Janel</h5>
              <p class="card-text">Cinta adhesiva trasnparente.<br>
              <b>Envío gratis</b>
              <br>$14
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="26H2MERMZHEP8">
              <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cinta</h5>
              <p class="card-text">Cintas decorativas para regalos 3pz.<br>
                <b>Envío gratis</b>
                 <br>$27
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="F8RGZ3YM6K9PJ">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Barrilito</h5>
              <p class="card-text">Limpiapipas de colores.<br>
                <b>Envío gratis</b>
              <br>$29
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="WX5S3YVDM5YVC">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Barrilito</h5>
              <p class="card-text">Limpiapipas de colores brillantes.<br>
                <b>Envío gratis</b>
              <br>$39
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="53ETQ27GJ9WBL">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Regalo</h5>
              <p class="card-text">Bolsa para regalo, cumpleaños.<br>
                <b>Envío gratis</b>
              <br>$29
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="NMLHM65HG8ZDG">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cinta</h5>
              <p class="card-text">Cinta adhesiva grande para trabajo.<br>
                <b>Envío gratis</b>
              <br>$19
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="EA5BA73GZMJTW">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Delta</h5>
              <p class="card-text">Tijera ideal para manualidades.<br>
                <b>Envío gratis</b>
              <br>$29
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="C8SQWSHQ4K8BS">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Celosa</h5>
              <p class="card-text">Moños de colores para regalos.<br>
                <b>Envío gratis</b>
              <br>$79
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="GMFLBXZ3PUV8Y">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o10.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estuche Rojo</h5>
              <p class="card-text">Ideal para guardar cosas.<br>
                <b>Envío gratis</b>
              <br>$29
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="ZZN77MVZZGNC2">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color blanco.<br>
                <b>Envío gratis</b>
              <br>$29
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="63ASMTUBM693E">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color azul.<br>
                <b>Envío gratis</b>
              <br>$29
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="63ASMTUBM693E">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color morado.<br>
                <b>Envío gratis</b>
              <br>$29
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="63ASMTUBM693E">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color naranja.<br>
                <b>Envío gratis</b>
              <br>$29
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="63ASMTUBM693E">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color rojo.<br>
                <b>Envío gratis</b>
              <br>$29
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="63ASMTUBM693E">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color plata.<br>
                <b>Envío gratis</b>
              <br>$29
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="63ASMTUBM693E">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina de colores 10pz.<br>
                <b>Envío gratis</b>
              <br>$39
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="L9Y9K28D7ESCC">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina color azul.<br>
                <b>Envío gratis</b>
              <br>$29
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="Y3KYRM7NMEHC8">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina color negro.<br>
                <b>Envío gratis</b>
              <br>$29
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="Y3KYRM7NMEHC8">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina color rojo.<br>
                <b>Envío gratis</b>
              <br>$29
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="Y3KYRM7NMEHC8">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina color blanco.<br>
                <b>Envío gratis</b>
              <br>$29
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="Y3KYRM7NMEHC8">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Pelikan color verde.<br>
                <b>Envío gratis</b>
              <br>$29
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="Y3KYRM7NMEHC8">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/taja.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tajadores</h5>
              <p class="card-text">Tajadores de colores 5 piezas.<br>
                <b>Envío gratis</b>
              <br>$21.50
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="DXSK8FKLQS4YL">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/palillo1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Palillo dietrix</h5>
              <p class="card-text">Palillo cuadrado.<br>
                <b>Envío gratis</b>
              <br>$39
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="WH8HTRN5SLEF8">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/palillo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Palillo dietrix</h5>
              <p class="card-text">Palillo largo 30cm.<br>
                <b>Envío gratis</b>
              <br>$49
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="JUFCCZLZY2ZXL">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/paleta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paleta</h5>
              <p class="card-tex">Paleta de madera.<br>
                <b>Envío gratis</b>
              <br>$29
               </p>
               <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                 <input type="hidden" name="cmd" value="_s-xclick">
                 <input type="hidden" name="hosted_button_id" value="T8F49PZ7NSGSE">
                 <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                 <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                 </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/palecol.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paleta</h5>
              <p class="card-text">Paleta de madera de colores.<br>
                <b>Envío gratis</b>
              <br>$34
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="HN3V9NBEDGLZY">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/mo%C3%B1o.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Moño</h5>
              <p class="card-text">Moño para regalos.<br>
                <b>Envío gratis</b>
              <br>$29
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="BLMPYY5YERMUU">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/ligas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ligas Marca Aguila</h5>
              <p class="card-text">Caja de ligas con 100ligas.<br>
                <b>Envío gratis</b>
              <br>$31.50
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="22PD5BWC2ZWSN">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/fond.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca texto foska</h5>
              <p class="card-text">Marca texto color verde 1pz.<br>
                <b>Envío gratis</b>
              <br>$19
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="W69WRT4K42E6A">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/fond+(2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Texto Foska</h5>
              <p class="card-text">Marca txto color fosforencente.<br>
                <b>Envío gratis</b>
              <br>$19
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="W69WRT4K42E6A">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/fond+(1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Texto Marca Office Depot</h5>
              <p class="card-text">Marca texto color negro.
              <br>$19</p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="W69WRT4K42E6A">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/broche.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Broche Barrilito</h5>
              <p class="card-text">Broche para carpetas.<br>
                <b>Envío gratis</b>
              <br>$39
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="2S9HFJ46GUVLN">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina color morado.<br>
                <b>Envío gratis</b>
              <br>$29
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                 <input type="hidden" name="cmd" value="_s-xclick">
                 <input type="hidden" name="hosted_button_id" value="Y3KYRM7NMEHC8">
                 <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                 <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                 </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- otros -->

    <!-- footer -->
    <%- include ('partials/footer') %>
    <!-- footer -->
       
    <script src="https://kit.fontawesome.com/f61c39cbe9.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>