<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include ('partials/head') %>

    <title>Otros - Spilup</title>
    <link rel="stylesheet" href="estilos.css">
  </head>
  <body>
    <!-- header -->
    <%- include ('partials/header') %>
    <!-- header -->


    <!-- otros -->
    <div class="container">
      <div class="row">
        <div class="col text-center m-4">
          <h4>Otros</h4>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cinta Janel</h5>
              <p class="card-text">Cinta adhesiva trasnparente.<br>
              <br>$3
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="FRM4S5WKN7UKA">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cinta</h5>
              <p class="card-text">Cintas decorativas para regalos.<br>
                 <br>$5 <sup>c</sup> / <sub>u</sub>
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="ZT3RS65M67SQJ">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Barrilito</h5>
              <p class="card-text">Limpiapipas de colores.<br>
              <br>$2 <sup>c</sup> / <sub>u</sub>
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="327EHMLJSUUZ6">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Barrilito</h5>
              <p class="card-text">Limpiapipas de colores brillantes.<br>
              <br>$3 <sup>c</sup> / <sub>u</sub>
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="5L85K8ULEFFEJ">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Regalo</h5>
              <p class="card-text">Bolsa para regalo, cumpleaños.<br>
              <br>$29
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="NG4M22FRR5CSC">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cinta</h5>
              <p class="card-text">Cinta adhesiva grande para trabajo.<br>
              <br>$19
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="JGMPAEEHXA8N4">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Delta</h5>
              <p class="card-text">Tijera ideal para manualidades.<br>
              <br>$13
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="B37RJL5NSZ6NE">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Celosa</h5>
              <p class="card-text">Moños de colores para regalos.<br>
              <br>$7 <sup>c</sup> / <sub>u</sub>
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="EZ29UJ4PP5EXY">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/o10.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estuche Rojo</h5>
              <p class="card-text">Ideal para guardar cosas.<br>
              <br>$19
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="JZ8UPUXD7UNLC">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color blanco.<br>
              <br>$8
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="ZEPNE6J854ZL2">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color azul.<br>
              <br>$8
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="K5TB4Z7R48NY8">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color morado.<br>
              <br>$8
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="4VFH3QKP8F5D8">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color naranja.<br>
              <br>$8
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="WJPHPGQ5RS6XL">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color rojo.<br>
              <br>$8
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="PVKPWGYRYV3AE">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/pin5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Politec</h5>
              <p class="card-text">Pintura acrilica color plata.<br>
              <br>$8
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="KCGZQB97ANCXJ">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina de colores.<br>
              <br>$39
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="JJSSZAZPNQRZQ">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina color azul.<br>
              <br>$12
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="N5Q6ELS3YMQZW">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina color negro.<br>
              <br>$12
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="4DAV3A75DEBSG">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina color rojo.<br>
              <br>$12
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="CHTARSQFGSSAQ">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina color blanco.<br>
              <br>$12
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="3FEEGCPYKRPMS">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Pelikan color verde.<br>
              <br>$12
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="JPE55SZ4Q252E">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/taja.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tajadores</h5>
              <p class="card-text">Tajadores de colores.<br>
              <br>$3 <sup>c</sup> / <sub>u</sub>
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="PB7WBXGG63KCN">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/palillo1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Palillo dietrix</h5>
              <p class="card-text">Palillo cuadrado.<br>
              <br>$2 <sup>c</sup> / <sub>u</sub>
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="77BWJUYNT5G3Q">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/palillo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Palillo dietrix</h5>
              <p class="card-text">Palillo largo 30cm.<br>
              <br>$3 <sup>c</sup> / <sub>u</sub>
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="AJK5J8EDU67UG">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/paleta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paleta</h5>
              <p class="card-tex">Paleta de madera.<br>
              <br>$1 <sup>c</sup> / <sub>u</sub>
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="8GW3DZAN7CAWG">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/palecol.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paleta</h5>
              <p class="card-text">Paleta de madera de colores.<br>
              <br>$2 <sup>c</sup> / <sub>u</sub>
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="WCBW8YPSJRTAS">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/mo%C3%B1o.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Moño</h5>
              <p class="card-text">Moño para regalos.<br>
              <br>$4 <sup>c</sup> / <sub>u</sub>
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="N7LBWD2UQYXV2">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/ligas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ligas Marca Aguila</h5>
              <p class="card-text">ligas.<br>
              <br>$1 <sup>c</sup> / <sub>u</sub>
             </p>
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
             <input type="hidden" name="cmd" value="_s-xclick">
             <input type="hidden" name="hosted_button_id" value="E3BYVVVNQUKUU">
             <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
             <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/fond.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca texto foska</h5>
              <p class="card-text">Marca texto color verde 1pz.<br>
              <br>$9
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="GRG6A5TPEPK5Y">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/fond+(2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Texto Foska</h5>
              <p class="card-text">Marca txto color fosforencente.<br>
                <b>Envío gratis</b>
              <br>$19
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="9QYAKS8E2NSYN">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/fond+(1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marca Texto Marca Office Depot</h5>
              <p class="card-text">Marca texto color negro.
              <br>$19</p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="WKF5HDHE2NBA8">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/broche.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Broche Barrilito</h5>
              <p class="card-text">Broche para carpetas.<br>
              <br>$2 <sup>c</sup> / <sub>u</sub>
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="P3JKFP7CMKKN2">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col mt-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Otros/plas6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pelikan</h5>
              <p class="card-text">Plastilina color morado.<br>
              <b>Envío gratis</b>  <br>$29 </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="AHBRVBUTNA994">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- otros -->

    <!-- footer -->
    <%- include ('partials/footer') %>
    <!-- footer -->

    <script src="https://kit.fontawesome.com/f61c39cbe9.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
