<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include ('partials/head') %>

    <title>Papeles - Spilup</title>
    <link rel="stylesheet" href="estilos.css">
  </head>
  <body>

    <!-- header -->
    <%- include ('partials/header') %>
    <!-- header -->


    <!-- papeles -->
    <div class="container">
      <div class="row">
        <div class="col text-center m-4">
           <h4>Papeles</h4>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/pe.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Xerox</h5>
               <p class="card-text">Papel blanco 500 hojas. <br>
                 <b>Envío gratis</b>
                <br>$89 </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="SUTQE5AGGFTDE">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/pc.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Capuchino</h5>
               <p class="card-text">Papel color cappuchino 500 hojas. <br>
                 <b>Envío gratis</b>
                <br>$99 </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="9YTR2NHVR7Z8L">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/pf.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Hp</h5>
               <p class="card-text">Papel Fotográfico con 20pz. <br>
                 <b>Envío gratis</b>
               <br>$379 </p>
               <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                 <input type="hidden" name="cmd" value="_s-xclick">
                 <input type="hidden" name="hosted_button_id" value="8DR5Y9743R534">
                 <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                 <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                 </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/opalina.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Señorial</h5>
               <p class="card-text">Papel opalina delgada 50 hojas. <br>
                 <b>Envío gratis</b>
                <br>$149 </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="8A4ESDTZ8SQY4">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/opalina1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Amatl</h5>
               <p class="card-text">Papel opalina gruesa c0n 50 hojas. <br>
                 <b>Envío gratis</b>
                <br>$159</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="JPYY6SD3EH9C2">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/color.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel De Color</h5>
               <p class="card-text">Papel de colores con 50 hojas. <br>
                 <b>Envío gratis</b>
                <br>$97</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                   <input type="hidden" name="cmd" value="_s-xclick">
                   <input type="hidden" name="hosted_button_id" value="GAHYKCJY8S7BJ">
                   <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                   <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                   </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/pb.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Bond Blanco</h5>
               <p class="card-text">Papel bond blanco para trabajos 1pz. <br>
                 <b>Envío gratis</b>
                <br>$19 <br> <br> </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="VFHHNV6BNUWVE">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/casca1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Cascaron Grande</h5>
               <p class="card-text">Papel cascaron para maquetas + 1 gratis. <br>
                 <b>Envío gratis</b>
                <br>$47</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="Y7CX6AQU3AVMS">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/casca.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Cascaron Medio</h5>
               <p class="card-text">Papel cascaron para maqueta o trabajo 1pz. <br>
                 <b>Envío gratis</b>
                <br>$39</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="798TU7QZRZUUA">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/pbc.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Bond Cuadriculado</h5>
               <p class="card-text">Papel de cuadros para trabajos 1pz. <br>
                 <b>Envío gratis</b>
               <br>$21</p>
               <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="SM6DPSDBKP9L4">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/cartilina.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Cartulina</h5>
               <p class="card-text">Cartulina amarilla para trabajo 1pz. <br>
                 <b>Envío gratis</b>
                <br>$16</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="X2M44FXUB96V8">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/cartulina1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Cartulina</h5>
               <p class="card-text">Cartulina fosforecente para trbajo 1pz. <br>
                 <b>Envío gratis</b>
                <br>$16 </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="V6D9DPQQQ4R3N">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/cartulina2.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Cartulina</h5>
               <p class="card-text">Cartulina Negra para trabajo 1pz. <br>
                 <b>Envío gratis</b>
                <br>$16 </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="T5YR9LYAZDH3Q">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/cartulina3.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Cartulina</h5>
               <p class="card-text">Cartulina morada para trabajo 1pz. <br>
                 <b>Envío gratis</b>
                <br>$16 </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="PR3ZHWK3KS36Q">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card mb-4" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/cartulina4.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Cartulina</h5>
               <p class="card-text">Cartulina Roja para trabajo 1pz. <br>
                 <b>Envío gratis</b>
                <br>$16 </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="CQLRYPDT62XV8">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card mb-4" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/o3.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel China Inspira</h5>
               <p class="card-text">Papel china color blanco 1pz. <br>
                 <b>Envío gratis</b>
                <br>$39</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="A6LF9RWSB4LMJ">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card mb-4" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/papelray.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel marca estrella</h5>
               <p class="card-text">Papel rayado para tarjeta de trabajo. <br>
                 <b>Envío gratis</b>
                <br>$42</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="V35V3TXFQ3TFW">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card mb-4" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/o2.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel China Inspira</h5>
               <p class="card-text">Papel china color rojo. <br>
                 <b>Envío gratis</b>
                <br>$39</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="UCDZP2BSA67SE">
                  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- papeles -->

    <!-- footer -->
    <%- include ('partials/footer') %>
    <!-- footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>