<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include ('partials/head') %>

    <title>Papeles - Spilup</title>
    <link rel="stylesheet" href="estilos.css">
  </head>
  <body>

    <!-- header -->
    <%- include ('partials/header') %>
    <!-- header -->




    <!-- papeles -->
    <div class="container">
      <div class="row">
        <div class="col text-center m-4">
           <h4>Papeles</h4>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/pe.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Xerox</h5>
               <p class="card-text">Papel blanco <br>
                <br>$1 <sup>c</sup> / <sub>h</sub> </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="YH6PRARUM3PAS">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/pc.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Capuchino</h5>
               <p class="card-text">Papel color cappuchino. <br>
                <br>$1 <sup>c</sup> / <sub>h</sub> </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="CGEMYLGUS4JRY">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/pf.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Hp</h5>
               <p class="card-text">Papel Fotográfico. <br>
               <br>$9 <sup>c</sup> /<sub>h</sub> </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="F6227UBCXU44A">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/opalina.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Señorial</h5>
               <p class="card-text">Papel opalina delgada. <br>
                <br>$2 <sup>c</sup> / <sub>h</sub> </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="2XMQJZ2EC7C6A">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/opalina1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Amatl</h5>
               <p class="card-text">Papel opalina gruesa. <br>
                <br>$3.50 <sup>c</sup> / <sub>h</sub> </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="CKVPBDSXDQGVS">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/color.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel De Color</h5>
               <p class="card-text">Papel de colores . <br>
                <br>$2 <sup>c</sup> / <sub>c</sub> </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="U9HM25FYFD962">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/color.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel mate adhesivo</h5>
               <p class="card-text">Papel para trabajos. <br>
                <br>$5 <sup>c</sup> / <sub>c</sub> </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="4MMA748EYNV7E">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/pb.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Bond Blanco</h5>
               <p class="card-text">Papel bond blanco para trabajos 1pz. <br>
                <br>$8</p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QV5CQRUF7YMFQ">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/casca1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Cascaron Grande</h5>
               <p class="card-text">Papel cascaron para maquetas 1pz. <br>
                <br>$16</p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="ADYKFPPP29TS2">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/casca.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Cascaron Medio</h5>
               <p class="card-text">Papel cascaron para maqueta  1pz. <br>
                <br>$6</p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="DYRZFWEN8TMCW">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/pbc.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel Bond Cuadriculado</h5>
               <p class="card-text">Papel de cuadros para trabajos 1pz. <br>
               <br>$8</p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="476SZFGJZBDV4">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/cartilina.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Cartulina</h5>
               <p class="card-text">Cartulina amarilla para trabajo 1pz. <br>
                <br>$8</p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="VFDDQQ6PQG6W6">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/cartulina1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Cartulina</h5>
               <p class="card-text">Cartulina fosforecente para trbajo 1pz.
                <br>$8 </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="5ESUVNKB26QJJ">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/cartulina2.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Cartulina</h5>
               <p class="card-text">Cartulina Negra para trabajo 1pz. <br>
                <br>$8 </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="7H87K7JE9CVW8">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/cartulina3.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Cartulina</h5>
               <p class="card-text">Cartulina morada para trabajo 1pz. <br>
                <br>$8</p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="KXMG2KFQMPZXS">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card mb-4" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/cartulina4.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Cartulina</h5>
               <p class="card-text">Cartulina Roja para trabajo 1pz. <br>
                <br>$8 </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="FL26SDTWKGDPE">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card mb-4" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/o3.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel China Inspira</h5>
               <p class="card-text">Papel china color blanco 1pz. <br>
                <br>$8</p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="67Z5PL7T8EB6J">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card mb-4" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/papelray.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel marca estrella</h5>
               <p class="card-text">Papel rayado para tarjeta de trabajo. <br>
                <br>$2 <sup>c</sup>  / <sub>u</sub> </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="6Q4TCZYGWYHCQ">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
        <div class="col mt-4">
          <div class="card mb-4" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/Papeles/o2.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Papel China Inspira</h5>
               <p class="card-text">Papel china color rojo. <br>
                <br>$8</p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="Y8BVGHX7R2RAS">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- papeles -->

    <!-- footer -->
    <%- include ('partials/footer') %>
    <!-- footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
