<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include ('partials/head') %>

    <title>Lapices y Plumas - Spilup</title>
    <link rel="stylesheet" href="estilos.css">
  </head>
  <body>
    <!-- header -->
    <%- include ('partials/header') %>
    <!-- header -->
    <!-- lapices y plumas -->
    <div class="container">
      <div class="row">
        <div class="col text-center m-4">
          <h4>Lapices y Plumas</h4>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/fondi.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Pluma Bic</h5>
               <p class="card-text">Pluma tinta azul. <br>
               <br>$5 <sup>c</sup> / <sub>u</sub>
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="39CJXN6EV3DNJ">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/fondi+(1).jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Pluma Bic</h5>
               <p class="card-text">Pluma tinta negra. <br>
               <br>$5 <sup>c</sup> / <sub>u</sub>
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="P2YEX2PAZL4Q8">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/fondi+(2).jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Pluma Bic</h5>
               <p class="card-text">Pluma tinta roja. <br>
               <br>$5 <sup>c</sup> / <sub>u</sub>
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="HUED72T2P2TT4">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/fondi+(3).jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Lapiz Berol</h5>
               <p class="card-text">Lapiz Mirado . <br>
               <br>$5 <sup>c</sup> / <sub>u</sub>
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="38J5W92HU75AN">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/pluemoji.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Boligrafo Emoji</h5>
               <p class="card-text">Divertido boligrafo de emoji. <br>
               <br>$27 <sup>c</sup> / <sub>u</sub>
              </p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="75NGC93J5SKAY">
              <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
              <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/fondi+(4).jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Lapiz Bic</h5>
               <p class="card-text">Lapiz evolution france. <br>
               <br>$7 <sup>c</sup> / <sub>u</sub>
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="ZWS2NRE7AAZWA">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/fondi+(5).jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Borrador Pelikan</h5>
               <p class="card-text">Borrador blanco chico. <br>
               <br>$4 <sup>c</sup> / <sub>u</sub>
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="XGNJTT3YREYGU">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/col.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Colores Bic</h5>
               <p class="card-text">12 Colores acuarelable + 1 pincel <br>
               <br>$59
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="ZPTSKYY5F5JAW">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/col1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Colores Mapita</h5>
               <p class="card-text">Colores mapita con 12 piezas. <br>
               <br>$37
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="MDD25CTXQ4NJU">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/col2.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Colores Bic</h5>
               <p class="card-text">Colores evolution con 12 piezas. <br>
               <br> $49</p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="GQQNHVB4VVGRG">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/col3.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Crayones Barrilito</h5>
               <p class="card-text">Crayones de color 12 piezas. <br>
               <br>$29
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="98KYFC8P864CG">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/col4.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Crayones Crayola</h5>
               <p class="card-text">Crayones de color con 12 piezas. <br>
               <br>$39
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="GXDTX8KZ9GA9S">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/col5.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Gises Vinci</h5>
               <p class="card-text">Gises blancos con 12 piezas. <br>
               <br>$29
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="H6V3C9UJT2ADS">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
        <div class="col mt-4 mb-4">
          <div class="card" style="width: 18rem;">
             <img src="https://spilup.s3-us-west-1.amazonaws.com/pencils/col6.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Plumones Total School.</h5>
               <p class="card-text">Plumones de colores con 6 piezas para proyectos.
               <br>$39
               </p>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="G2ZEXUUZFYCYS">
               <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
               <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
               </form>
             </div>
           </div>
        </div>
      </div>
    </div>
    <!-- lapices y plumas -->
    <!-- footer -->
    <%- include ('partials/footer') %>
    <!-- footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
