<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include ('partials/head') %>

    <title>Juguetes - Spilup</title>
    <link rel="stylesheet" href="estilos.css">
  </head>
  <body>
    <!-- header -->
    <%- include ('partials/header') %>
    <!-- header -->
    
    <!-- juguetes -->
    <div class="container">
      <div class="row">
        <div class="col text-center m-4">
          <h4>Juguetes</h4>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Figura de Fortnite Dj Yonder</h5>
              <p class="card-text">Fabulosa figura de la franquicia de fortnite
              para coleccionar.<br>
              <b>Envío gratis</b>
              <br>$279 <br> <br>
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="CC97QEECR494Q">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Figura de Fortnite Rust Lord</h5>
              <p class="card-text">Fabulosa figura de la franquicia de fortnite
              para coleccionar.<br>
              <b>Envío gratis</b>
              <br>$279 <br> <br>
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QFMTF59ESFL56">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Figura de Fortnite Skull Strooper</h5>
              <p class="card-text">Fabulosa figura de la franquicia de fortnite
              para coleccionar.<br>
              <b>Envío gratis</b>
              <br>$279
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QFMTF59ESFL56">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Figura de Fortnite Tomatohead</h5>
              <p class="card-text">Fabulosa figura de la franquicia de fortnite
              para coleccionar.<br>
              <b>Envío gratis</b>
              <br>$279
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QFMTF59ESFL56">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Figura de Fortnite Stampers</h5>
              <p class="card-text">Pieza de Fortnite con 3 muñecos coleccionables.<br>
                <b>Envío gratis</b>
              <br>$297
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="FLL54VN9AAYMA">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Figura de buzz Lightyear</h5>
              <p class="card-text">Increible figura de Buzz Lightyear de 10cm de la inolvidable pelicula de toy story.<br>
                <b>Envío gratis</b>
              <br>$89
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="KANRG5KARG6UN">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/jugg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Max Steel Mattel</h5>
              <p class="card-text">Increible muñeco de max steel mision jungla.<br>
                <b>Envío gratis</b>
              <br>$107
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="LBCCMEDQU8ML4">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Figura de Woody</h5>
              <p class="card-text">Increible figura de Woody de 10cm de la inolvidable pelicula de toy story.<br>
                <b>Envío gratis</b>
              <br>$89
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="WP75QDYG523NS">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Carrito Hot Wheels</h5>
              <p class="card-text">Carro coleccionable de la marca Hot Wheels.<br>
                <b>Envío gratis</b>
               <br>$39
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="LUA5SP2YDGD7L">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Carrito Hot Wheels</h5>
              <p class="card-text">Carro coleccionable de la marca Hot Wheels.<br>
                <b>Envío gratis</b>
               <br>$39
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="LUA5SP2YDGD7L">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Carrito Hot Wheels</h5>
              <p class="card-text">Carro coleccionable de la marca Hot Wheels.<br>
                <b>Envío gratis</b>
               <br>$39
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="LUA5SP2YDGD7L">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguetesss.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Avengers assemble spring</h5>
              <p class="card-text">Mini figuras de marvel de 8cm.<br>
                <b>Envío gratis</b>
               <br>$39 <br> <br>
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QQCGHR862ZRCS">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/m1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hasbro Operando Clásico</h5>
              <p class="card-text">Se el doctor, opera al paciente, pero con cuidado.<br>
                <b>Envío gratis</b>
               <br>$699 <br> <br> <br>
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="TKPKX3XLHBEV6">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/m.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hasbro Pastelazo </h5>
              <p class="card-text">Diviertete con tus amigos con este juego de mesa, verdad o reto.<br>
                <b>Envío gratis</b>
               <br>589 <br> <br> <br>
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="KN4UGYC8WWV92">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/j.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hasbro Jenga</h5>
              <p class="card-text">¿Seras capaz de retirar todos los bloques sin derribar la torre?<br>
                <b>Envío gratis</b>
               <br>499 <br> <br> <br>
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="DELLYMXJ3VMJL">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/n1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hasbro Nerf N-strike Mega</h5>
              <p class="card-text">Diviertete con tus amigos, demuestra tus habilidades, vive la experiencia.<br>
                <b>Envío gratis</b>
               <br>$497 <br> <br>
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="PHJYC693YLP38">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/n.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hasbro Nerf Zombie Revreaper</h5>
              <p class="card-text">Sobrevive a las oleadas de zombies! Equipate con gran armamento.<br>
                <b>Envío gratis</b>
               <br>$689
             </p>
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="D5UFJ8QWB9E8E">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
        <div class="col mt-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img src="https://spilup.s3-us-west-1.amazonaws.com/Juguetes/juguete10.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Figura de Rex</h5>
              <p class="card-text">Espectacular figura de rex de 10cm de la pelicula Toy Story.<br>
                <b>Envío gratis</b>
               <br>$89 <br> <br>
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QZXTJ5VN5KJD2">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- juguetes -->

    <!-- footer -->
    <%- include ('partials/footer') %>
    <!-- footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
